body{
    
    background-color:  #8458B3;
    }
.mark{
    color: red;
}
.reg{
    background-color: rgba(255, 255, 255, 0.905);
    box-shadow: 30cm;
    border-bottom-right-radius: 20%;
    border: 5px solid black;
    
}
.title{
    background-color:#51e2f5;
    width: 300px;
    text-align: bottom;
    border-radius: 50%;
    border: 2px solid black;
    padding: 20px;
    
    
}
.b2{
    background-color:green;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid red;
}
.par{
    width: 300px;
    height: 300px;
    
}
.sub{
    border: 2px solid black;
    background-color: red;
    color: white;
    border-radius: 10%;
    padding: 3px;
    

}
.res{
    border:2px solid black;
    background-color: red;
    color: white;
    border-radius: 10%;
    padding: 3px;
}
#1{
    background-color: red;
}