*{
    font-family:Sans-serif;
    background-color: #eee;
}
nav{
    display: flex;
    justify-content: space-between; 
    height: 68px;
    border-bottom:1px solid rgba(67, 66, 66, 0.232);
    position:sticky;
    top: 0px;

}
#introduction{
    display: flex;
    margin-top: 30px;
}
.logo{
    margin-left: 20px;
    background-color: orange;
    font-size: 17px;
    height:60px;
    transition-duration: 0.5s;
}
.keys{
    display: flex;
    width: 450px;
    padding-top: 20px;
    justify-content: space-evenly;
    font-weight: bold;
    margin-right: 20px;
}
.keys a{
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;

}
.keys a:hover{
    color:rgba(255, 166, 0, 0.762);
    font-size: 20px;
}
.logo:hover{
    height: 20px;
    cursor: pointer;;
}
#intro{
    margin-top: 8%;
    margin-left: 15%;
    width: 500px;
    
}
#intro h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
.hire{
    background-color: orange;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition-duration: 0.4s;
}
.hire:hover{
    background-color:rgba(255, 166, 0, 0.74);
   
}
span{
    color: orange;
}
#intro p{
    color: #555;
    line-height: 22px;
}
.images{
    margin-left: 8%;
    margin-top: 5%;
    width: auto;
    height: auto;
    background-color: #eee;
    
    
    
   
}
.boy{
    border-radius: 15px;
    box-shadow:1px 2px 8px #212121;
    width: 250px;
    transition-duration: 0.5s;
}
.boy:hover{
    width: 270px;
    
}
#skills{    
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}
.hc,.sql,.java{
    width: 350px;
    height: 200px;
    color: #555;
    box-shadow:1px 2px 8px #212121;
    border-radius: 20px ;
    transition-duration: 0.5s;
    padding: 10px;
}
#skillhead{
    font-size: 30px;
    margin-left: 30px;
}
.hc h3,.sql h3,.java h3{
    margin-left: 10px;
    color: black;
}
.hc:hover,.sql:hover,.java:hover{
    width: 360px;
    
}
.hc a,.sql a,.java a{
    background-color: orange;
    text-decoration: none;
    color: black;
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50px;
    transition-duration: 0.5s;
}
.hc a:hover,.sql a:hover,.java a:hover{
    background-color:rgba(255, 166, 0, 0.816) ;
}
.eduheading{
    font-size: 30px;
    margin-left: 30px;
}
.education{
    width: 350px;
    height: 150px;
    box-shadow:1px 2px 8px #212121;
    padding: 10px;
    border-radius: 20px;
    transition-duration: 0.5s;
}
.education p{
    line-height: 10px;
    
}
.education:hover{
    width: 360px;
}
#edu{
    display: flex;
    justify-content: space-evenly;
}
.proheading{
    font-size: 30px;
    margin-left: 30px;

}
#project{
    display: grid;
}
.pro,.pro1{
    height: 150px;
    box-shadow:1px 2px 8px #212121;
    margin-left: 40px;
    padding: 10px;
    width: 1200px;
    transition-duration: 0.5s;
}
.pro1{
    margin-top: 30px;

}
.pro p,.pro1 p{
    color:#555;
}
.pro:hover,.pro1:hover{
    width: 1240px;
}
footer{
    height: 150px;
    box-shadow:-1px -2px 8px #212121;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    color: white;
    background-color: orange;
}
footer h1,footer img, footer a{
    background-color:orange;
}



