#table{
    text-align: center;
    width: 600px;
    border:2px solid red;
    
}
#head{
    color:blue;
    background-color: palevioletred;
    font-size: 20px;
}
#t1{
    border: 4px solid orange;
    height: 410px;
    width: 600px;
    position: relative;
    top:90px;
    padding: 30px;
    border-radius: 15%;
}
body{
    background-color:rgb(253, 253, 78);
}
#nam,#Percentage{
    background-color: yellow;
}
#roll,#stream{
    background-color: lime;
}
td{
    font-weight: bold;
}